<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790408897522-48ql79r0la6mfdsht5ekbtrd1l2hu6c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790408897522-48ql79r0la6mfdsht5ekbtrd1l2hu6c9</string>
	<key>API_KEY</key>
	<string>AIzaSyAqAWWdMLQ0GjTLDBVTwELWuFjHYiPUGd8</string>
	<key>GCM_SENDER_ID</key>
	<string>790408897522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raj.AgoraPOC</string>
	<key>PROJECT_ID</key>
	<string>agorademo-b4a75</string>
	<key>STORAGE_BUCKET</key>
	<string>agorademo-b4a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790408897522:ios:6981f5b794a1ba3fad816b</string>
</dict>
</plist>